# Compiled Object files
obj/
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Executables
icfpc_solver
tester

# NetBeans project
build/
nbproject/

# Eclipse project
Debug/
.metadata/
.cproject
.project
.settings

# Generated documentation
doc/doxygen/html

# Logger data
LOG.html

# Emacs temporary files
*~
