# Compiled Object files
obj/
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# NetBeans project
build/
nbproject/

# Eclipse project
Debug/
.metadata/
.cproject
.project
.settings
/dist/

# Generated documentation
doc/doxygen/html

# Logger data
LOG.html
