# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Executables
icfpc_solver
tester
lifter3d
score_harness

# Irrlicht includes
irrIncludes/

# NetBeans project
build/
nbproject/

# Eclipse project
Debug/
.metadata/
.cproject
.project
.settings

# Generated documentation
doc/doxygen/html

# Logger data
*.html

# Score harnessing data
scoreharnessreports/

# Emacs temporary files
*~

# Dolphin file manager files
*.directory
